@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: middle;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: "Pretendard", "BRBA_B"; 
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    min-width:1450px;
}

/*header*/
#header{
    background-color: #f2e8df;
    height: 100px;
}

.header_inner{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.header_inner h1{
    float: left;
    margin-top: 2px;
}

.search_box{
    border: 3px solid #cb7a4d;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    background-image: url(../images/loupe.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20px;
    text-align: center;
    font-size: 16px;
    color: #5d5a58;
    position: absolute;
    top: 22px;
    left: 300px;
}

.search_box:focus{
    outline: none;
}

.header_inner ul li img{
    width: 50px;
}

.header_inner ul{
    float: right;
}

.header_inner ul li{
    float: left;
}

.header_inner ul li a:hover{
    opacity: 90%;
    transition: all 0.1s;
}

.page_cart{
    padding-left: 10px;
    padding-top: 25px;
}

.log_join{
    padding-left: 10px;
    padding-top: 35px;
}

/*menu*/
#menu{
    background-color: #ccb8aa;
}

.menu_inner{
    width: 1320px;
    margin: 0 auto;
    height: 50px;

}

#gnb>li{
    font-family: "BRBA_B";
    font-size: 18px;
    color: #5d5a58;
}

#gnb>li:hover{
    color: #343434;
    transition: all 0.1s;
}

#gnb>li{
    display: inline-block;
}

#gnb>.margin{
    padding-left: 100px;
    margin-top: 15px;
}

.under{
    display: block;
    width: 0%;
    height: 3px;
    background-color: #cf6739;
}
  
#gnb li:hover .under{
    width: 100%;
    transition: all 0.5s;
}

input[id="menuicon"]{
    display: none;
}

input[id="menuicon"]+label{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    top: 4px;
}

input[id="menuicon"]+label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: #343434;
    transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1){
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3){
    bottom: 0;
}

input[id="menuicon"]:checked+label{
    z-index: 2;
}

input[id="menuicon"]:checked+label span{
    background: #f2e8df;
}

input[id="menuicon"]:checked+label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2){
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"]{
    margin-top: 150px;
    width: 1000px;
    height: 500px;
    background: #5d5a58;
    opacity: 90%;
    position: absolute;
    top: 0;
    left: -1320px;
    z-index: 2;
    transition: all .35s;
}

input[id="menuicon"]:checked+label+div{
    left: 50%;
    margin-left: -660px;
}

.sidebar .goods ul{
    float: left;
    margin-top: 30px;
}

.sidebar .goods .border{
    border-left: 1px solid #f2e8df;
    height: 400px;
    margin-left: 50px;
}

.sidebar .goods .text{
    margin-left: 50px;
}

.sidebar .goods ul li{
    font-size: 22px;
    padding: 20px 0;
    color: #cf6739;
}

/*banner*/
#banner{
    height: 500px;
    margin: 0 auto;
}
.main_banner{
    width: 1320px;
}

.main_banner .swiper-button-next::after{
    content: url(../images/next_30.png);
}

.main_banner .swiper-button-prev::after{
    content: url(../images/prev_30.png);
}

#category{
    width: 1080px;
    margin: 0 auto;
    padding: 50px 0;
}

#category ul{
    display: flex;
    justify-content: center;
}

#category ul li{
    padding: 0 10px;
}

#category ul li a:hover{
    opacity: 90%;
    transition: all 0.1s;
}

#best{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#best ul{
    display: flex;
    justify-content: center;
}

.best_inner h2{
    padding: 50px 0 50px 50px;
}

.best_inner .gnb li{
    padding: 0 20px;
    text-align: center;
}

.best_inner .gnb li p{
    font-size: 18px;
    font-weight: 600;
}

.best_inner .gnb li .back{
    background: linear-gradient(rgb(215, 78, 78), rgb(213, 54, 54));
      width: 50px;
      height: 50px;
      color: #f2e8df;
      box-sizing: border-box;
      position: relative;
      top: 50px;
}

.gnb li h3{
    padding: 16px 0;
}

/*product*/
#product{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#product ul{
    display: flex;
    justify-content: center;
}

.product_inner ul li span{
    color: #cf6739;
    font-weight: bold;
    padding-left: 50px;
}

.product_inner .mid{
    padding: 30px 0;
}

.product_inner ul li{
    padding: 0 10px;
}

.product_inner ul li p{
    font-size: 16px;
    position: relative;
}

.product_inner ul li h2{
    padding: 10px 0;
}

.product_inner ul li h3{
    font-weight: 600;
}

.product_inner ul p del{
    font-size: 14px;
    padding-left: 20px;
}

.product_inner ul li p a img{
    position: absolute;
    top: -12px;
    right: 0;
}

.number{
    padding-top: 80px;
    text-align: center;
}

.number a{
    padding: 0 10px;
    font-size: 16px;
    color: #92c1ca;
    font-weight: 600;
}

.number a:hover{
    text-decoration: underline;
    transition: all 0.1s;
}

/*footer*/
#footer{
    background-color: #ccb8aa;
    font-size: 16px;
}

.footer_inner{
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/footer_logo.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 30px 0;
}

.footer_inner .guide li{
    float: left;
    padding-right: 20px;
}

.footer_inner .guide{
    padding: 50px 0;
    font-family: "BRBA_B";
}

.footer_inner .info{
    float: left;
    font-family: "BRBA_B";
}

.info .padding{
    padding-top: 20px;
    padding-bottom: 50px;
}

.icon{
    float: right;
}

.icon img{
    width: 30px;
}

.icon li{
    float: left;
    padding-left: 10px;
}

.icon li a:hover{
    opacity: 90%;
    transition: all 0.1s;
}

.center{
    font-weight: 800;
    text-align: center;
    float: right;
    margin-right: 100px;
    transform: translateY(-30%);
}

.center .size{
    font-size: 30px;
    padding-bottom: 20px;
}


.center span{
    color: #cf6739;
    font-size: 34px;
}

.center .padding{
    padding: 10px 0;
}